<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>EFP Online Judge System</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>EFP Online Judge</h1>
                <p class="lead">Element Fill-in-blank Problem Online Judge</p>
            </div>
            <div class="col-md-4">
                    <form class="form-inline" role="form" method="get" style="margin-top: 60px" action="getProblemListBy">
                        <div class="form-group">
                            <input type="text" class="form-control" id="query" name="query" placeholder="Input query string." style="width: 135px">
                        </div>
                        <div class="form-group">
                            <select id="way" name="way" style="border-radius: 5px; width: 50px; height: 34px; outline: none">
                                <option>
                                    id
                                </option>
                                <option>
                                    title
                                </option>
                                <option>
                                    theme
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
            </div>


            {% block registerLinkBlock %}
                {% if request.session.checkSignin %}
                    <div class="pull-right">
                        <p></p>
                        <a target="_parent" class="btn btn-warning btn-lg" href="user?action=logout&&next={{ request.get_full_path }}">
                            <span class="glyphicon glyphicon-log-out"> LOGOUT </span>
                        </a>
                    </div>
                {% endif %}
                {% if not request.session.checkSignin %}
                    <div class="pull-right">
                        <p></p>
                        NEW HERE?<a target="_parent" class="btn btn-info" href="register?next={{ request.get_full_path }}">CREATE AN ACCOUNT</a>
                    </div>
                {% endif %}
            {% endblock %}


        </div>
    </div>


    {% block registerBlock %}
    <div class="container">
        <div class="row">


            {% block indexPanleBlock %}
            <div class="col-md-8">
                <div class="panel panel-default panel-heading" id="category-wrap">
                    <ul id="myTab" class="nav nav-pills nav-justified">
                        <li class="{{ problemTabClass }}"><a href="getProblemList?volume=1">Problem Archive</a></li>
                        <li class="{{ statusTabClass }}"><a href="getStatusList?volume=1">Realtime Judge Status</a></li>
                        <li class="{{ rankTabClass }}"><a href="getRanklist?volume=1">Authors Ranklist</a></li>
                    </ul>


                    {% block myTabContentBlock %}
                    <div id="myTabContent" class="tab-content">
                        <div class="{{ problemContentClass }}">


                            {% block themeBlock %}
                            {% endblock %}


                            <table style="table-layout: fixed;" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2">Pro.ID</th>
                                        <th colspan="5">Problem Title</th>
                                        <th colspan="2">Average Score</th>
                                        <th colspan="2">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in problemList%}
                                    <tr>
                                        <th scope="row" colspan="2" title="{{ item.id }}">{{ item.id }}</th>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="5" title="{{ item.title }}">
                                            <a href="getProblemById?id={{ item.id }}">{{ item.title }}</a>
                                        </td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="2" title="{{ item.averageScore }}">{{ item.averageScore }}</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="2" title="{{ item.score }}">{{ item.score }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                            {% block problem_pagination %}
                            <div style="text-align: center;">
                                <span style="font-size: large; ">Volume</span>
                                {% for volume in problemVolumes %}
                                    {% ifequal volume problemVolume %}
                                    <a href="getProblemList?volume={{ volume }}">
                                        <span style="font-size: large; color: red">{{volume}}</span>
                                    </a>
                                    {% else %}
                                    <a href="getProblemList?volume={{ volume }}">
                                        <span style="font-size: large;">{{volume}}</span>
                                    </a>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                            {% endblock %}


                        </div>
                        <div class="{{ statusContentClass }}">
                            <table style="table-layout: fixed;" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="3">Run ID</th>
                                        <th colspan="8">Submit Time</th>
                                        <th colspan="3">Pro.ID</th>
                                        <th colspan="3">Status</th>
                                        <th colspan="4">Score</th>
                                        <th colspan="8">Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for status in statusList %}
                                    <tr>
                                        <th scope="row" colspan="3" title="{{ status.submissionId }}">{{ status.submissionId }}</th>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="8" title="{{ status.submitTime }}">{{ status.submitTime }}</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="3" title="{{ status.proId }}">
                                            <a href="getProblemById?id={{ status.proId }}">{{ status.proId }}</a>
                                        </td>
                                        {% ifequal status.judgeStatus -2%}
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="3" title="waiting">waiting</td>
                                        {% endifequal %}
                                        {% ifequal status.judgeStatus -1%}
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="3" title="judging">judging</td>
                                        {% endifequal %}
                                        {% ifequal status.judgeStatus 0%}
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="3" title="OK">OK</td>
                                        {% endifequal %}
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="4" title="{{ status.score }}">{{ status.score }}</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="8" title="{{ status.email }}">{{ status.email }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                            {% block status_pagination %}
                            <div style="text-align: center;">
                                <span style="font-size: large; ">Volume</span>
                                {% for volume in statusVolumes %}
                                    {% ifequal statusVolume volume %}
                                    <a href="getStatusList?volume={{ volume }}">
                                        <span style="font-size: large; color: red">{{volume}}</span>
                                    </a>
                                    {% else %}
                                    <a href="getStatusList?volume={{ volume }}">
                                        <span style="font-size: large;">{{volume}}</span>
                                    </a>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                            {% endblock %}


                        </div>
                        <div class="{{ rankContentClass }}">
                            <table style="table-layout: fixed;" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="row" colspan="2">Rank</th>
                                        <th colspan="5">Email</th>
                                        <th colspan="5">Author</th>
                                        <th colspan="5">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for author in  ranklist%}
                                    <tr>
                                        <th scope="row" colspan="2" title="{{ forloop.counter }}">{{ forloop.counter }}</th>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="5" title="{{ author.email }}">{{ author.email }}</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="5" title="{{ author.nickname }}">{{ author.nickname }}</td>
                                        <td style="overflow: hidden ; text-overflow: ellipsis; white-space: nowrap;" colspan="5" title="{{ author.score }}">{{ author.score }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                            {% block ranklist_pagination %}
                            <div style="text-align: center;">
                                <span style="font-size: large; ">Volume</span>
                                {% for volume in ranklistVolumes %}
                                    {% ifequal ranklistVolume volume %}
                                    <a href="getRanklist?volume={{ volume }}">
                                        <span style="font-size: large; color: red">{{volume}}</span>
                                    </a>
                                    {% else %}
                                    <a href="getRanklist?volume={{ volume }}">
                                        <span style="font-size: large;">{{volume}}</span>
                                    </a>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                            {% endblock %}


                        </div>
                    </div>
                    {% endblock %}


                </div>
            </div>
            {% endblock %}


            {% if request.session.checkSignin %}
            <div class="well pull-right col-md-4">
                <div>
                    Username: {{ request.session.nickname }}<br>
                    Score: {{ request.session.score }}
                </div>
                <div>
                    <table style="table-layout: fixed;" class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="3">ID</th>
                                <th colspan="3">Pro</th>
                                <th colspan="4">Status</th>
                                <th colspan="4">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for submit in submissions %}
                            <tr>
                                <th scope="row" colspan="3" title="{{ submit.submissionId }}">{{ submit.submissionId }}</th>
                                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="3" title="{{ submit.proId }}">
                                    <a href="getProblemById?id={{ submit.proId }}">{{ submit.proId }}</a>
                                </td>
                                {% ifequal submit.judgeStatus -2%}
                                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="4" title="waiting">waiting</td>
                                {% endifequal %}
                                {% ifequal submit.judgeStatus -1%}
                                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="4" title="judging">judging</td>
                                {% endifequal %}
                                {% ifequal submit.judgeStatus 0%}
                                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="4" title="OK">OK</td>
                                {% endifequal %}
                                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" colspan="4" title="{{ submit.score }}">{{ submit.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="well pull-right col-md-4 hidden" id="login-form-wrap">
            {% endif %}
            {% if not request.session.checkSignin %}
            <div class="well pull-right col-md-4" id="login-form-wrap">
            {% endif %}
                <form method="post" action="user?action=signin&next={{ request.get_full_path }}">
                    <div id="email" class="form-group">
                        <label for="inputEmail">E-Mail</label>
                        <input class="form-control" type="email" id="inputEmail" name="email" placeholder="Email" />
                    </div>
                    <div id="password" class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" id="inputRememberMe" />
                            Remember E-Mail
                        </label>
                    </div>
                    <p>
                        <input id="signin" type="submit" class="form-control btn btn-primary" value="signin"/>
                    </p>
                </form>
                <p class="text-right">
                    <a href="#" data-target="#forgetPasswordModal" data-toggle="modal">Forgot password</a>
                </p>
            </div>
        </div>
    </div>
    {% endblock %}


    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>


    {% block scriptBlock %}

    {% endblock %}


</body>
</html>