{% extends "index.html" %}
{% block themeBlock %}
    <div style="text-align: center;">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-tag">{{ theme }}</span>
        </button>
    </div>
{% endblock %}
{% block problem_pagination %}
    <div style="text-align: center;" id="pagination">
        <span style="font-size: large; ">Volume</span>
        {% for volume in problemVolumes %}
            {% ifequal problemVolume volume %}
            <a href="getProblemByTheme?theme={{ theme }}&volume={{ volume }}">
                <span style="font-size: large; color: red">{{volume}}</span>
            </a>
            {% else %}
            <a href="getProblemByTheme?theme={{ theme }}&volume={{ volume }}">
                <span style="font-size: large;">{{volume}}</span>
            </a>
            {% endifequal %}
        {% endfor %}
    </div>
{% endblock %}