<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>EFP Online Judge System</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css">
    <link href="/static/dist/ladda-themeless.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 style="text-align: center">EFP Online Judge</h1>
                <p class="lead" style="text-align: center">Element Fill-in-blank Problem Online Judge</p>
                <form role="form" method="post" action="teacher?action=upload" enctype="multipart/form-data" onsubmit="return check()">
                    <div class="form-group">
                        <label for="title" style="font-family: 'Adobe 黑体 Std R'">Problem Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Please input problem title.">
                    </div>
                    <div class="form-group">
                        <label for="themes" style="font-family: 'Adobe 黑体 Std R'">Themes</label>
                        <input type="text" class="form-control" name="themes" placeholder="Maximum 5 Labels.">
                        <p class="help-block">Refer to id-theme table and separate them using commas.</p>
                    </div>
                    <div class="form-group">
                        <label for="description">Problem Description</label>
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="problem-file">Problem File</label>
                            <input type="file" name="problem-file" accept=".c, .cpp" class="form-control">
                            <p class="help-block">File for generating element fill-in-blank problem.</p>
                        </div>
                        <div class="col-md-6">
                            <label for="test-cases">Test Cases</label>
                            <input type="file" name="test-cases" accept=".zip" class="form-control">
                            <p class="help-block">Compress test cases using zip format.</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="difficulty">Difficulty</label><br>
                            <input type="number" name="difficulty" class="form-control">
                            <p class="help-block">Maximum difficulty is 100.</p>
                        </div>
                        <div class="col-md-4">
                            <label for="score">Score</label><br>
                            <input type="number" name="score" class="form-control">
                            <p class="help-block">Default score is 20.</p>
                        </div>
                        <div class="col-md-4">
                                <label>UPLOAD</label><br>
                                {% if request.session.checkTeacherSignin %}
                                    <button id="upload" class="btn btn-warning btn-lg ladda-button" data-style="slide-left"><span class="ladda-label glyphicon glyphicon-cloud-upload">UPLOAD PROBLEM</span></button>
                                {% endif %}
                                {% if not request.session.checkTeacherSignin %}
                                    <button id="upload" disabled class="btn btn-warning btn-lg ladda-button" data-style="slide-left"><span class="ladda-label glyphicon glyphicon-cloud-upload">UPLOAD PROBLEM</span></button>
                                {% endif %}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
<script src="/static/dist/spin.min.js"></script>
<script src="/static/dist/ladda.min.js"></script>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>


    Ladda.bind( 'div:not(.progress-demo) button', { timeout: 2000 } );


    Ladda.bind( '.progress-demo button', {
        callback: function( instance ) {
            var progress = 0;
            var interval = setInterval( function() {
                progress = Math.min( progress + Math.random() * 0.1, 1 );
                instance.setProgress( progress );

                if( progress === 1 ) {
                    instance.stop();
                    clearInterval( interval );
                }
            }, 200 );
        }
    } );



</script>

<script>
    function check() {
        if($('input[name="title"]').val() === "") {
            alert("please input the problem title.")
            return false
        }
        if($('input[name="themes"]').val() === "") {
            alert("please input the problem themes.")
            return false
        }
        if($('textarea[name="description"]').val() === "") {
            alert("please input the problem description.")
            return false
        }
        if($('input[name="problem-file"]').val() === "") {
            alert("please input the problem file.")
            return false
        }
        if($('input[name="test-cases"]').val() === "") {
            alert("please input the test cases.")
            return false
        }
        if($('input[name="difficulty"]').val() === "") {
            alert("please input the difficulty of the problem.")
            return false
        }
        if($('input[name="score"]').val() === "") {
            alert("please input the score of the problem.")
            return false
        }
        return true
    }
</script>
</html>